[Unit]
Description=Don't Starve Together Caves Shard
After=network.target
After=dst_master.service

[Service]
Type=simple
Environment="DST_USER_DATA_DIR=/opt/klei/dst_user_data"
Environment="DST_UGC_PATH=/opt/klei/dst_user_data/mods/ugc"
WorkingDirectory=/opt/klei/dst/bin64
ExecStart=/opt/klei/dst/bin64/dontstarve_dedicated_server_nullrenderer_x64 \
    -skip_update_server_mods \
    -persistent_storage_root "${DST_USER_DATA_DIR}" \
    -conf_dir / \
    -ugc_directory "${DST_UGC_PATH}" \
    -cluster Cluster_1 \
    -shard Caves
Restart=on-failure

[Install]
WantedBy=multi-user.target